
/* basic elements */
html {
	margin: 0;
	padding: 0;
	}
body { 
	font: 75% helvetica, sans-serif;
	line-height: 1.88889;
	color: #555753; 
	margin: 0; 
	padding: 0;
  	background-color: #85144B;
	}
